.physical {
    display: inline-block;
    width: 100%;
    min-width: 320px;
    justify-content: center;
}

.physical > div {
    display: flex;
}
.physical > div > input {
    float:left;
    width:20%;
    margin: 4% 4% 4% 1%;
    border-radius: 30px;
}
.physical > div > label {
    float:right;
    width:80%;
}